.optButton {
  /* padding: 5px 15px; */
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.optButton:not(:last-child) {
  margin-right: 10px;
}

.optButton:hover,
:focus {
  background-color: teal;
  color: #fff;
}
